// Monitor
mat-drawer-content{
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 4vw;
  background-color: #eee;
  justify-content: center;
  justify-items: center;
}

.div-button{
  margin: 0.5rem auto;
}

button{
  width: 3vw;
  height: 3vw;
}

//tablet
@media screen and (max-width: 960px){
  button{
    width: 6vw;
    height: 6vw;
  }

  mat-drawer-content{
    width: 8vw;
  }
}

//mobile
@media screen and (max-width: 600px){
  mat-drawer-container{
    position: fixed;
    left: 0;
    bottom: 0
  }

  mat-drawer-content{
    flex-direction: row;
    width: 100vw;
    height: 9vh;
  }

  .div-button{
    margin: auto 0.8rem;
  }

  button{
    width: 9vw;
    height: 9vw;
  }
}